LINE_CHANNEL_SECRET=your_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_channel_access_token

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=protein
MYSQL_PASSWORD=protein_pass
MYSQL_DATABASE=protein_memo

PORT=3000
